button.game-button {
    display: block;
    padding: 10px 50px;
    border-radius: 10px;
    border: solid 3px #cecece;
    background-color: #f0eded;
    width: 100%;
    font-weight: bolder;
    font-size: 15px;
}