@keyframes example {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.card {
    display: inline-flex;
    position: relative;
    background-color: #cecece;
    width: 100%;
    height: 100%;
    border: solid 2px #bebdbd;
    perspective: 1000px;
}
.card.selected .card-inner {
    transform: rotateY(180deg);
}

.card.selected .card-front .text {
  opacity: 0;
  transition: .3s;
}
.card.selected .card-back .text {
  opacity: 1;
  transition: 1s;
}

.card .card-front .text {
  opacity: 1;
  transition: 1s;
}
.card .card-back .text {
  opacity: 0;
  transition: .3s;
}
  
.card.removed {
    animation: bubble .5s forwards;
    animation-name: example;
}
.text {
  display: inline-flex;
  background: #696868;
  color: white;
  width: 75%;
  height: 75%;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-size: 40px;
  font-weight: bolder;
  border-radius: 10px;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.card-front .text, .card-back .text {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.card-front {
  background-color: #bbb;
  color: black;
}
.card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
  