.modal-background {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
}
dialog {
    display: inline-block;
    position: absolute;
    z-index: 2;
    width: 50vw;
    height: 25vh;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);

    border: solid 2px black;
    border-radius: 10px;

    position: relative;
}
