.modal-background {
    background: rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
}
dialog.game-dialog {
    display: inline-block;
    position: absolute;
    z-index: 1001;
    width: 75vw;
    height: 25vh;
    top: 5vh;
    left: 50%;
    transform: translate(-50%, 0);
    border: solid 2px rgb(102, 101, 101);
    border-radius: 10px;
    background-color: #e9e9e9;
}
dialog.game-dialog h1 {
    text-align: center;
}
